header{
    background-image: url(../IMG/magno.jpg);
}

.container{
    width: 80vw;
    margin: 1em auto 1em;
    text-align: justify;
}



button{
    width: max-content;
    align-self: center;
    padding: .5rem 1rem;
    border-radius: .3rem;
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-shadow: 0 .3rem #999;
    cursor: pointer;
}

button:hover{
    background-color: rgb(187, 187, 187);
}

button:active{
    background-color: rgb(224, 221, 221);
    box-shadow: 0 .1rem #666;
    transform: translateY(4px);
}

.ismerteto{
    text-indent:0;
}

/*  */ /*  */ /*  */

#message-board {
    width: 80%;
    max-height: 70vh;
    margin: 20px auto;
    background-color: #333;
    border: 1px solid #222;
    padding: 20px;
    border-radius: 1rem;
}
#message-board input[type="text"] {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
    color: whitesmoke;
    background: #666;
    border: 2px solid #222;
    border-radius: 5px;
    font-size: 16px;
}
#message-board input[type="text"]::placeholder {
    color: whitesmoke;
}
#messages {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 10px;
    color: whitesmoke;
    text-indent:none;
}
.message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #666;
    border: 2px solid #222;
    border-radius: 5px;
    width: 90%;
    margin-left: 2%;
}
.message p {
    margin: 0;
}
.message .sender {
    font-weight: bold;
    text-indent: 1em;
}
.message .timestamp {
    font-size: 12px;
    color: whitesmoke;
}

#pfp{
    max-width: 64px;
    max-height: 64px;
    border-radius: 3px;
    margin: .5rem .5rem;
}

